.search_input{
    height: 90rpx;
    padding: 10rpx;
    background-color: var(--themecolor);
    navigator{
        height: 100%;//继承高度
        display: flex;//伸缩盒子
        justify-content: center;//水平
        align-items: center;//竖直
        background-color: #fff;
        border-radius: 15rpx;//边框圆角
        color: #666;//字体
    }
}